<div class="addressSection">
  <div class="addressInfo">
    <h3>GimmeGear Corporate Address:</h3>
    <hr>
    <h4>GimmeGear Headquarters</h4>
    <h4>123 Main St.</h4>
    <h4>Portland, OR 97201</h4>
  </div>
  <div class="mapInfo">
    {{google-map}}
  </div>
</div>
