<div class="typeNav">
  {{#link-to 'shirt'}}Cameras and Lenses{{/link-to}}
  {{#link-to 'coats'}}Lighting{{/link-to}}
  {{#link-to 'pants'}}Audio{{/link-to}}
  {{#link-to 'shoes'}}Support{{/link-to}}
</div>
<div class="productList">
  {{#each model as |product|}}
  {{product-tile product=product}}
  {{/each}}
</div>
